<div nz-row class="mgbt20">
  <div nz-col nzSpan="24">
    <h3>Phiếu chi công nợ</h3>
  </div>
</div>
<div class="box box-success">
  <div class="box-header">
    <div nz-form [nzLayout]="'inline'">
      
      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <nz-select style="width: 180px;" nzShowSearch nzPlaceHolder="Nhà cung cấp"
              [(ngModel)]="filter.supplier_id">
              <nz-option nzLabel="Tất cả nhà cung cấp" nzValue="0"></nz-option>
              <nz-option *ngFor="let item of suppliers" nzLabel="{{ item.name }}" nzValue="{{ item.id }}"></nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <button nz-button (click)="handleFilter()" nzType="primary">Hiển thị</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div class="box-body">
    <div class="table-responsive">
      <nz-table nzBordered #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData"
        [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="getAll()" (nzPageSizeChange)="getAll()">
        <thead>
          <tr>
            <th width="3%" class="text-center">STT</th>
           
            <th width="15%" class="mw-100">
              Nhà cung cấp
            </th>
            <th width="10%" class="text-center mw-100">
              Tiền nợ
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of ajaxTable.data;let i = index">
            <td class="text-center">{{ ((pageIndex -1) * pageSize)+ 1 +i}}</td>
            <td >{{ data.name }}</td>
            <td class="text-right">{{ data.debit | number}} đ</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>