<nz-modal [(nzVisible)]="isVisible" nzTitle="{{dataEdit.id ? 'Cập nhật đơn vị' : 'Tạo nhà đơn vị'}}" nzOkText="Xác nhận"
  nzCancelText="Hủy" (nzOnOk)="submitForm()" (nzOnCancel)="handleCancel()" nzWidth="75%">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Tên </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="name" id="name" />
            <nz-form-explain *ngIf="validateForm.get('name')?.dirty && validateForm.get('name')?.errors">
              Tên hàng hóa không được để trống!
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="code">Mã hàng </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="code" id="code" />
            <nz-form-explain *ngIf="validateForm.get('code')?.dirty && validateForm.get('code')?.errors">
              Mã hàng hóa không được để trống!
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="unit_id">Đơn vị </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn đơn vị" formControlName="unit_id">
              <nz-option *ngFor="let item of units" nzLabel="{{item.name}}" nzValue="{{item.id}}"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="validateForm.get('unit_id')?.dirty && validateForm.get('unit_id')?.errors">
              Chọn một đơn vị
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="price">Giá bán </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="price" id="price" [(ngModel)]="price" [(appFormatVN)]="price" />
            <nz-form-explain *ngIf="validateForm.get('price')?.dirty && validateForm.get('price')?.errors">
              Giá bán không được để trống!
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cost">Giá nhập </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="cost" id="cost" [(ngModel)]="cost" [(appFormatVN)]="cost" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="is_batch">Quản lý theo lô</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <label nz-checkbox formControlName="is_batch">
              <span>Kích hoạt</span>
            </label>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="group_id">Nhóm hàng hóa </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn đơn vị" formControlName="group_id">
              <nz-option *ngFor="let item of groupProds" nzLabel="{{item.name}}" nzValue="{{item.id}}"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="validateForm.get('group_id')?.dirty && validateForm.get('group_id')?.errors">
              Nhóm hàng hóa không được để trống!
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="specification_id">Loại đóng gói </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn đơn vị" formControlName="specification_id">
              <nz-option nzLabel="--Không--" nzValue="0"></nz-option>
              <nz-option *ngFor="let item of typePacks" nzLabel="{{item.name}}" nzValue="{{item.id}}"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="supplier_id">Nhà cung cấp </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn đơn vị" formControlName="supplier_id">
              <nz-option *ngFor="let item of suppliers" nzLabel="{{item.name}}" nzValue="{{item.id}}"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="validateForm.get('supplier_id')?.dirty && validateForm.get('supplier_id')?.errors">
              Nhà cung cấp không được để trống
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="address">Ghi chú</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <textarea formControlName="note" nz-input rows="2" placeholder="Ghi chú"></textarea>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="active">Trạng thái</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <label nz-checkbox formControlName="active">
              <span>Kích hoạt</span>
            </label>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-upload class="upload-list-inline offset-sm-3" nzAction="{{API_IMG}}/api/fileUpload?pathImg=products"
            nzListType="picture" [(nzFileList)]="images">
            <div nz-button>
              <span style="margin-top: 5px;"><i nz-icon nzType="upload"></i> Thêm hình ảnh</span>
            </div>
          </nz-upload>
        </nz-form-item>
      </div>
    </div>
  </form>
</nz-modal>