<div nz-row class="mgbt20">
  <div nz-col nzSpan="12">
    <h3>Nhà cung cấp</h3>
  </div>
  <div nz-col nzSpan="12">
    <div class="float-right">
      <button (click)="handleCorU({})" nz-button nzType="primary"><i nz-icon nzType="plus" nzTheme="outline"></i>
        Tạo mới </button>
    </div>
  </div>
</div>
<div class="box box-success">
  <!-- <div class="box-header">
    <form nz-form [nzLayout]="'inline'" [formGroup]="filterForm" (ngSubmit)="filterData()">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="key">
            <input nz-input type="text" formControlName="find" placeholder="Từ khóa" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button (click)="filterData()" nzType="primary">Hiển thị</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div> -->

  <div class="box-body">
    <div class="table-responsive">
      <nz-table nzBordered #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData"
        [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
         (nzPageIndexChange)="getAll()" (nzPageSizeChange)="getAll()">
        <thead>
          <tr>
            <th width="3%" class="text-center" >STT</th>
            <th width="20%" class="mw-100">
              Nhà cung cấp
            </th>
            <th width="10%" class="text-center mw-100">
              Điện thoại
            </th>
            <th width="20%" class="mw-100">
              Địa chỉ
            </th>
            
            <th width="20%" class="text-center mw-100">
              <span>Ghi chú</span>
            </th>
            <th width="15%" class="mw-100">
              <span>Trạng thái</span>
            </th>
            <th width="10%" class="text-center mw-100"><span>Hành động</span></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of ajaxTable.data;let i = index">
            <td class="text-center">{{ ((pageIndex -1) * pageSize)+ 1 +i}}</td>
            <td>{{ data.name }}</td>
            <td class="text-center">{{ data.phone }}</td>
            <td >{{ data.address }}</td>
            <td class="text-center">{{ data.note  }}</td>
            <td class="text-center">
              <span *ngIf="data.active" class="badge badge-success">Kích hoạt</span>
              <span *ngIf="!data.active" class="badge badge-danger">Không kích hoạt</span>
            </td>
            <td class="cttd" class="text-center">
              <div zn-row>
                <i nz-icon nzType="edit" nz-tooltip nzTitle="Sửa nhà cung cấp" class="iconAction text-warning"
                  (click)="handleCorU(data)" nzTheme="outline"></i>

                  <i nz-icon nzType="delete" nz-tooltip nzTitle="Xóa nhà cung cấp" class="iconAction text-danger"
                  (click)="confirmDeleteSup(data.id)" nzTheme="outline"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

<app-cou-supplier *ngIf="isVisible" [dataEdit]="dataEdit" [isVisible]="isVisible" (closeModal)="closeModal($event)"
  class="fade in">
</app-cou-supplier>