<nz-modal [(nzVisible)]="isVisible" nzTitle="{{dataEdit.id ? 'Cập nhật kho' : 'Tạo kho hàng hóa'}}" 
  (nzOnCancel)="handleCancel()" nzWidth="60%" [nzFooter]="modalFooter">

  <div class="table-responsive">
    <nz-table nzBordered #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData"
      [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="getAll()" (nzPageSizeChange)="getAll()"
      nzFooter="Hiển thị {{ (pageSize > listOfData.length) ? listOfData.length : pageSize  }} trên tổng số {{ total}}">
      <thead>
        <tr>
          <th width="3%" class="text-center">STT</th>
          <th class="text-center" width="15% mw-50">
            Ngày
          </th>
          <th width="10%" class=" mw-50">
            Lô hàng hóa
          </th>
          <th width="15%" class="text-center mw-50">
            Nhập / Xuất
          </th>
          <th width="15%" class="text-center mw-100">
            Bán / Trả
          </th>
          <th width="15%" class="text-center mw-100">
            Đặt hàng / Tồn kho
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of ajaxTable.data;let i = index">
          <td class="text-center">{{ ((pageIndex -1) * pageSize)+ 1 +i}}</td>
          <td class="text-center">{{ data.mfg_date }}</td>
          <td>
            {{ data.batch_code }}
          </td>
          <td>
            <table>
              <tr>
                <td width="80px"><span class="badge badge-primary">Nhập kho</span> </td>
                <td class="mw-50 text-right">{{ data.total_import | number }}</td>
              </tr>
              <tr>
                <td width="80px"><span class="badge badge-success">Xuất kho </span></td>
                <td class="mw-50 text-right">{{ data.total_export | number }}</td>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <tr>
                <td width="90px"><span class="badge badge-primary">Bán ra</span> </td>
                <td class="text-right mw-50">{{ data.total_sale | number }}</td>
              </tr>
              <tr>
                <td width="90px"><span class="badge badge-success">Trả lại</span> </td>
                <td class="text-right mw-50">{{ data.total_sale_return | number }}</td>
              </tr>
            </table>
          </td>
          <td>
            <table>
              <tr>
                <td width="110px"><span class="badge badge-primary">Đặt hàng</span> </td>
                <td class="text-right mw-50">{{ data.total_order | number }}</td>
              </tr>
              <tr>
                <td width="110px"><span class="badge badge-success">Tồn kho</span> </td>
                <td class="text-right mw-50">{{ data.total | number }}</td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  
  <ng-template #modalFooter>
    <button class="btn btn-sm btn-light" (click)="handleCancel()">Đóng</button>
  </ng-template>
</nz-modal>