<nz-modal [(nzVisible)]="isVisible" nzTitle="{{dataEdit.id ? 'Cập nhật kho' : 'Tạo kho hàng hóa'}}" nzOkText="Xác nhận" nzCancelText="Hủy" (nzOnOk)="submitForm()"
  (nzOnCancel)="handleCancel()" nzWidth="40%">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Tên kho </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input  nz-input formControlName="name" id="name" />
        <nz-form-explain *ngIf="validateForm.get('name')?.dirty && validateForm.get('name')?.errors">
          Tên kho không được để trống!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="store_id" nzRequired>Chi nhánh </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select formControlName="store_id" nzShowSearch nzAllowClear nzPlaceHolder="Chọn 1 chi nhánh">
          <nz-option *ngFor="let item of stores"  nzLabel="{{ item.name }}" nzValue="{{item.id}}"></nz-option>
        </nz-select>
        <nz-form-explain *ngIf="validateForm.get('store_id')?.dirty && validateForm.get('store_id')?.errors">
          Chọn 1 chi nhánh!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="active">Trạng thái</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <label nz-checkbox formControlName="active">
          <span>Kích hoạt</span>
        </label>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>