<nz-modal [(nzVisible)]="isVisible" nzTitle="{{'Lịch sử nhập xuất '+dataEdit.name}}" 
  (nzOnCancel)="handleCancel()" nzWidth="60%" [nzFooter]="modalFooter">

  <div class="table-responsive">
    <nz-table nzBordered #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData"
      [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="getAll()" (nzPageSizeChange)="getAll()"
      nzFooter="Hiển thị {{ (pageSize > listOfData.length) ? listOfData.length : pageSize  }} trên tổng số {{ total}}">
      <thead>
        <tr>
          <th width="3%" class="text-center">STT</th>
          <th class="text-center" width="15% mw-50">
            Ngày
          </th>
          <th width="10%" class=" mw-50">
            Lô hàng
          </th>
          <th width="15%" class="text-center mw-50">
            Loại
          </th>
          <th width="15%" class="text-center mw-100">
            Kho nhận
          </th>
          <th width="15%" class="text-center mw-100">
            Kho xuất
          </th>
          <th width="15%" class="text-center mw-100">
            Số lượng
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of ajaxTable.data;let i = index">
          <td class="text-center">{{ ((pageIndex -1) * pageSize)+ 1 +i}}</td>
          <td class="text-center">{{ data.date }}</td>
          <td class="text-center">{{ data.product_batch_code }}</td>
          <td class="text-center">{{ data.transaction_type }}</td>
          <td class="text-center">{{ data.dest_name }}</td>
          <td class="text-center">{{ data.source_name }}</td>
          <td class="text-center">{{ data.quantity }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  
  <ng-template #modalFooter>
    <button class="btn btn-sm btn-light" (click)="handleCancel()">Đóng</button>
  </ng-template>
</nz-modal>