<div nz-row class="mgbt20">
  <div nz-col nzSpan="24">
    <h3>Nhập / Xuất kho</h3>
  </div>
</div>
<div class="box box-success">
  <div class="box-header">
    <div nz-form  [nzLayout]="'inline'">

      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <nz-range-picker [nzFormat]="dateFormat" [(ngModel)]="filter.date"></nz-range-picker>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <nz-select style="width: 220px;" nzShowSearch nzPlaceHolder="Kho" [(ngModel)]="filter.dest_id">
              <nz-option nzLabel="Tất cả kho" nzValue="0"></nz-option>
              <nz-option *ngFor="let item of warehouses" nzLabel="{{ item.name }}" nzValue="{{ item.id }}"></nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <nz-select style="width: 220px;" nzShowSearch nzPlaceHolder="Kho" [(ngModel)]="filter.supplier_id">
              <nz-option nzLabel="Tất cả nhà cung cấp" nzValue="0"></nz-option>
              <nz-option *ngFor="let item of suppliers" nzLabel="{{ item.name }}" nzValue="{{ item.id }}"></nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <nz-select style="width: 220px;" nzShowSearch nzPlaceHolder="Kho" [(ngModel)]="filter.transaction_type_id">
              <nz-option nzLabel="Tất cả loại" nzValue="0"></nz-option>
              <nz-option nzLabel="Nhập kho" nzValue="1"></nz-option>
              <nz-option nzLabel="Xuất kho" nzValue="2"></nz-option>
              <nz-option nzLabel="Chuyển kho" nzValue="3"></nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <input style="border-radius:4px" nz-input type="text" placeholder="Tìm hàng hóa" [(ngModel)]="inputSearchProd"
              (input)="onSearchProduct($event.target?.value)" [nzAutocomplete]="autoSearchPrd1"/>
            <nz-autocomplete nzBackfill #autoSearchPrd1>
              <nz-auto-option *ngFor="let option of products" [nzValue]="option.name" (click)="chooseProd(option.id)">
                {{ option.name}}
                {{ option.code ? ' - '+option.code: '' }}
                {{ option.supplier_name ?  ' ('+option.supplier_name+')': '' }}
              </nz-auto-option>
            </nz-autocomplete>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <button nz-button (click)="handleFilter()" nzType="primary">Hiển thị</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div class="box-body">

    <div class="table-responsive">
      <nz-table nzBordered #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData"
        [nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
        nzFooter="Hiển thị {{ (pageSize > listOfData.length) ? listOfData.length : pageSize  }} trên tổng số {{ total}}"
        (nzPageIndexChange)="getAll()" (nzPageSizeChange)="getAll()">
        <thead>
          <tr>
            <th width="3%" class="text-center">STT</th>
            <th width="5%" class="mw-100 text-center">
              Số phiếu
            </th>
            <th width="10%" class="mw-100 text-center">
              Ngày tạo
            </th>
            <th width="7%" class="text-center mw-100">
              Loại phiếu
            </th>
            <th width="10%" class="mw-100 text-center">
              Kho xuất
            </th>
            <th width="10%" class="mw-100 text-center">
              Kho nhận
            </th>
            <th width="10%" class="mw-100 text-center">
              Ngày nhận
            </th>
            <th width="10%" class="mw-100 text-center">
              Nhà cung cấp
            </th>

            <th width="15%" class="mw-100">
              Ghi chú
            </th>
            <th width="10%" class="mw-100 text-center">
              trạng thái
            </th>
            <th width="10%" class="text-center mw-100"><span>Hành động</span></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of ajaxTable.data;let i = index">
            <td class="text-center">{{ ((pageIndex -1) * pageSize)+ 1 +i}}</td>
            <td class="text-center">{{ data.id }}</td>
            <td class="text-center">{{ formatDate(data.created_date,'DD/MM/YYYY HH:mm') }}</td>
            <td class="text-center">
              <span class="badge" [ngClass]="{
                'badge-primary': data.transaction_type_id ==1,
                'badge-success': data.transaction_type_id ==2,
                'badge-warning': data.transaction_type_id ==3,
                'badge-default': data.transaction_type_id ==4  }">
                {{ data.transaction_type_name }}
              </span>
            </td>
            <td class="text-center">{{ data.source_name  }} </td>
            <td class="text-center">{{ data.dest_name  }}</td>
            <td class="text-center">{{ formatDate(data.received_date,'DD/MM/YYYY HH:mm')  }}</td>
            <td class="text-center">{{ data.supplier_name  }}</td>
            <td>{{ data.note  }}</td>
            <td class="text-center">
              <span class="badge" [ngClass]="{
                'badge-primary': data.status_id ==1,
                'badge-success': data.status_id ==2,
                'badge-warning': data.status_id ==3,
                'badge-default': data.status_id ==4  }">
                {{ data.status_name  }}
              </span>
            </td>
            <td class="cttd" class="text-center">
              <div zn-row>
                <i nz-icon nzType="shopping-cart" nz-tooltip nzTitle="{{ data.status_id ==1 ? 'Nhận hàng' : 'Chỉnh sửa ngày nhận hàng' }}"
                  class="iconAction text-success" (click)="openModalReceived(data)" nzTheme="outline"></i>

                <i nz-icon nzType="edit" nz-tooltip nzTitle="Sửa phiếu" class="iconAction text-warning"
                  (click)="handleCorU(data)" nzTheme="outline"></i>

                <i nz-icon nzType="delete" nz-tooltip nzTitle="Xóa phiếu" class="iconAction text-danger"
                  (click)="confirmDelete(data.id)" nzTheme="outline"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>


<nz-modal [(nzVisible)]="isVisibleRecived" nzTitle="Xác nhận nhận hàng hóa" nzCancelText="Hủy" nzOkText="Xác nhận"
  (nzOnCancel)="handleCancelRecived()" (nzOnOk)="handleConfirmRecived()">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">Ngày nhận</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]="dateRecived"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
  </div>

</nz-modal>


<app-view-transaction *ngIf="isVisible" [dataEdit]="dataEdit" [isVisible]="isVisible" (closeModal)="closeModal($event)"
  class="fade in">
</app-view-transaction>